/*
stylesheet
*/

#container {
    width: auto;
    height: 100vh;
    padding: 5px;
}

.controls-landscape {
    height: inherit;
    width: 150px;
    display: inline-block;
    float: left;
    background-color: #D8D8D8;
}

.controls-portrait {
    height: 150px;
    width: 100%;
    display: inline-block;
    float: left;
    background-color: #D8D8D8;
}

.canvas-landscape {
    background-image: url(../assets/no-photo.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    float: left;
    background-color: #B8B8B8;
}

.canvas-portrait {
    background-image: url(../assets/no-photo.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    float:left;
    background-color: #B8B8B8;  
}

#buttons {
    text-align: center;
}


.first {
    display: block;
}

.second {
    display: block;
}

.third {
    display: block;
    position: absolute;
    bottom: 0;
}


.buttons-landscape {
    margin: 10px auto;
    display: block;
}

.buttons-portrait {
    margin: 15px;
    display: inline-block;
}

.loading {
    text-align: center;
    font-family: 'open sans';
    font-size: 1.5em;
    color: #FFF; 
    opacity: 0.75;
    width: 200px;
    height: 200px;
    position: absolute;
    top: -70px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.background {     
    -webkit-filter: blur(5px);     
    filter: blur(5px);      
}

/* camera button styling only */
#camera-upload {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    visibility: hidden;
}

/* camera button styling only */
#img-file {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}