/*
stylesheet
*/

#container {
    width: auto;
    height: 100vh;
    display: none;
}

.controls-landscape {
    height: inherit;
    width: 150px;
    display: inline-block;
    float: left;
}

.controls-portrait {
    height: 150px;
    width: 100%;
    display: inline-block;
    float: left;
}

.canvas-landscape {
    background-image: url(../assets/no-photo.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    float: left;
}

.canvas-portrait {
    background-image: url(../assets/no-photo.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    float:left;
}

#buttons {
    text-align: center;
}

.buttons-landscape {
    margin: 10px auto;
    display: block;
}

.buttons-portrait {
    margin: 15px;
    display: inline-block;
}

#loading {
    text-align: center;
    font-family: 'Myriad Pro';
    font-size: 1.0em;
    color: #000; 
    opacity: 0.75;
    position: absolute;
}

#message {
    position: relative;
    top: 100px;
    display: inline-block;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.background {     
    -webkit-filter: blur(5px);     
    filter: blur(5px);      
}

#selection-container {
    z-index: 1;
    height: 100vh;
    width: auto;
}

#selection {
    width: 100px;
    height: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#selection > button {
    width: 100%;
    height: 100%;
    margin: 5px auto;
}

/* camera button styling only */
#camera-upload {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    visibility: hidden;
}

/* camera button styling only */
#img-file {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.checkmark {
    width: 220px;
    margin: 0 auto;
    padding-top: 40px;
    visibility: hidden;
}

.path-animate {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
}

@-webkit-keyframes dash {
    0% { stroke-dashoffset: 1000; }
    100% { stroke-dashoffset: 0; }
}

@keyframes dash {
    0% { stroke-dashoffset: 1000; }
    100% { stroke-dashoffset: 0; }
}