/*
stylesheet
*/

#container {
    width: auto;
    height: 100vh;
}

#selection-container {
    width: 100%;
    height: inherit;
    position: absolute;
    z-index: 1;
    background-color: #FFF;
}

#loading-container {
    position: absolute;
    background-color: #FFF;
    opacity: 1;
}

#canvas-container {
    width: auto;
    height: inherit;
}

.controls-landscape {
/*    background-color: #B8B8B8;*/
    height: inherit;
    width: 120px;
    display: inline-block;
    float: left;
    position: relative;
}

.controls-portrait {
    height: 120px;
    width: 100%;
    display: inline-block;
    float: left;
    position: relative;
}

.canvas-landscape {
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    float: left;
}

.canvas-portrait {
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    float:left;
}

.buttons-landscape {
/*    margin: 10px auto;*/
/*    display: block;*/
}

.buttons-portrait {
    margin: 15px;
    display: inline-block;
}

#photo {
    position: absolute;
    top: 10px;
    margin-left: 25%;
}

#creative {
    position: absolute;
    top: 100px;
    margin-left: 32%;
    height: 200px;
    width: 50px;
}

#creative > img {
    display: block;
    margin-bottom: 120%;
}

#draw {
}

#undo {
    margin: 5px;
}

#redo {
    margin: 5px;
}

#clear-all {
    margin: 5px;    
}

#state-control {
    position: absolute;
    bottom: 10px;
    left: 9%;
    text-align: center;
}

#message {
    width: 300px;
    height: 30px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    font-family: 'Myriad Pro';
    font-size: 1.5em;
    color: #000; 
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

#role-selection {
    width: 100px;
    height: 120px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 3;
}

#role-selection > button {
    width: 100%;
    height: 40%;
    margin: 5px auto;
}

/* camera button styling only */
#camera-upload {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2;
}

/* camera button styling only */
#img-file {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#checkmark {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#spinner {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.path-animate {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
}

@-webkit-keyframes dash {
    0% { stroke-dashoffset: 1000; }
    100% { stroke-dashoffset: 0; }
}

@keyframes dash {
    0% { stroke-dashoffset: 1000; }
    100% { stroke-dashoffset: 0; }
}

#slider {
    height: 45px;
    width: .5rem;
    position: absolute;
    margin: 0 -38px;
    background: #0071BC;
    border: none;
    transition: .3s ease-in-out;
}