/*
IV CSS File
*/

body {
    background-color: #C8C8C8;
}

#container {
    width: 50%;
}

#finger {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background-color: dodgerblue;
    opacity: 0.8;
    position: absolute;
}

#image {
    width:100%;
    height:auto;
}

#imagefile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}