/*
IV CSS File
*/

/* 'height' needs to be 'auto' for this div */
#img-container {
    width: 60%;
    height: auto;
}

/* 
    this is the styling of the 'tap' 
    feel free to make changes
*/
#finger {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    opacity: 0.8;
    position: absolute;
}

/* DO NOT CHANGE ANYTHING */
img {
    width: 100%;
    height: auto;
}

/* DO NOT CHANGE ANYTHING */
#imageFile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}