/*
IV SCSS File
*/

$headersize:18pt;
$textsize: 16pt;
$container-width: 100%;
$max-width: 2000px;
$font-family: calibri;

/* 
    this is the styling of the 'tap' 
    feel free to make changes
*/
#finger {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    opacity: 0.8;
    position: absolute;
}

/* DO NOT CHANGE ANYTHING */
img {
    width: 100%;
    height: auto;
}

/* DO NOT CHANGE ANYTHING */
#imageFile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}


#navbar {
    background-color: gainsboro;
    height: 50px;
    width: $container-width;
    /*min-width: 1000px;*/
    font-size: $textsize;
    max-width: $max-width;
}

.option {
    font-size: $textsize;
    font-family: $font-family;
}

select {
    font-size: $headersize;
    float: left;
}


#samplethis {
    font-size: $textsize;
    font-family: $font-family;
    margin-left: 30px;
    margin-right: 10px;
    margin-top: 0%;
    padding: 0%;
    float: left;
}


#body {
    background-color: chartreuse;
    height: 900px;
    width: $container-width;
    max-width: $max-width;
    /*min-width: 1000px;*/
}

#column1 {
    background-color: white;
    height: 100%;
    width: $container-width / 2;
    float: left;
    position: relative;
}

#column2 {
    background-color: white;
    height:100%;
    width: $container-width / 2;
    float: right;
}

#img-container {
    background-color: black;
    height: auto;
    width: 100%;
}

#spacer {
    height: 10vw;
}

#logo {
    height: 120px;
    width: 100%;
    background-color: white;
    font-size: 80pt;
    position: absolute;
    bottom: 0px;
    font-family: $font-family;
}

#description_container {
    height: 80%;
}

.description_type {
    background-color: white;
    height: 25%;
    width: 50%;
    outline: thin solid gray;
    
    float: left;
    
    font-size: $textsize;
    font-family: $font-family;
    
    position: relative;
}

#notes_field {
    width: 96%;
    padding: 1%;
    border: 10px solid gainsboro;
    outline: thin solid gray;
    font-size: $textsize;
    font-family: $font-family;
}

textarea::-webkit-input-placeholder {
    font-size: $textsize;
    font-family: $font-family;
    font-style: italic;
}

#submit {
    font-size: $textsize;
    width: 100%;
    height: 6%;
    margin-top: 1%;
}

.description {
    background-color: white;
    background-size: 50px 50px;
    background-position: center center;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    border: thin solid white;
    
    float: left;
}

.downarrow {
    background-image: url(../assets/arrowdown.png);
}
.uparrow {
    background-image: url(../assets/arrowup.png);
}
.neutralarrow {
    background-image: url(../assets/arrowneutral.png);
}

#red {
    background-image: url(../assets/red.png);
}
#brown {
    background-image: url(../assets/brown.png);
}
#orange {
    background-image: url(../assets/orange.png);
}
#yellow {
    background-image: url(../assets/yellow.png);
}
#purple {
    background-image: url(../assets/purple.png);
}
#darkgray {
    background-image: url(../assets/darkgray.png);
}
#black {
    background-image: url(../assets/black.png);
}
#white {
    background-image: url(../assets/white.png);
}

#pervasive {
    background-image: url(../assets/pervasive.png);
}
#superficial {
    background-image: url(../assets/superficial.png);
}

#water {
    background-image: url(../assets/water.png);
}
#plantbiomass {
    background-image: url(../assets/plantbiomass.png);
}
#animalbiomass {
    background-image: url(../assets/animalbiomass.png);
}
#dangerousterrain {
    background-image: url(../assets/dangerousterrain.png);
}

#porphyritic {
    background-image: url(../assets/porphyritic.png);
}
#aphanitic {
    background-image: url(../assets/aphanitic.png);
}
#stony {
    background-image: url(../assets/stony.png);
}
#glassy {
    background-image: url(../assets/glassy.png);
}
#banded {
    background-image: url(../assets/banded.png);
}
#scoriaceous {
    background-image: url(../assets/scoriaceous.png);
}

#intact {
    background-image: url(../assets/intact.png);
}
#fractured {
    background-image: url(../assets/fractured.png);
}
#smooth {
    background-image: url(../assets/smooth.png);
}
#rough {
    background-image: url(../assets/rough.png);
}