<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/header.ejs %>
        <link rel="stylesheet" type="text/css" href="/stylesheets/ev.css" />
    </head>
    <body>
        <div id='container'>
            <div id='selection-container'>
                <div id='role-selection'>
                    <button id='ev'>EV</button>
                    <button id='iv'>IV</button>
                </div>
                <div id='camera' class='hidden'>
                    <img id="camera-upload" onclick="cameraClick();" src='/assets/take-photo.svg'>
                    <input type='file' id='img-file' accept='image/*' capture='camera'>
                    <label id='label' for='img-file'></label>
                </div>
                <div id='loading-container'>
                    <div id='spinner'></div>
                    <div id='checkmark' class='hidden'>
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 161.2 161.2" enable-background="new 0 0 161.2 161.2" xml:space="preserve">
                            <circle id='circle' class="path-animate" fill="none" stroke="#009245" stroke-width="4" stroke-miterlimit="10" cx="80.6" cy="80.6" r="62.1"/>
                            <polyline id='polyline' class="path-animate" fill="none" stroke="#009245" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" points="113,52.8 74.1,108.4 48.2,86.4 "/>
                        </svg>
                    </div>
                    <div id='message'></div>
                </div>
            </div>
            <div id='canvas-container'>
                <div id='controls'>
                    <div id='buttons'>
                        <img id='photo' height='60px' width='auto' src='/assets/camera.svg'>
                        <div id='creative'>
                            <hr id='slider'>
                            <img id='draw' height='45px' width='auto' src='/assets/red-scribble.svg'>
                            <img id='pin' height='45px' width='auto' src='/assets/red-pin.svg'>
                            <img id='erase' height='45px' width='auto' src='/assets/eraser.svg'>
                        </div>
                        <div id='state-control'>
                            <div id='arrows'>
                                <img id='undo' height='35px' width='auto' src='/assets/undo.svg'>
                                <img id='redo' height='35px' width='auto' src='/assets/redo.svg'>
                            </div>
                            <img id='clear-all' height='20px' width='auto' src='/assets/clear-all.svg'>
                        </div> 
                    </div>
                </div>
                <canvas id='canvas'></canvas>
            </div>
        </div>
    </body>
    <script src="/js/ev.js"></script>
</html>