<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/iv.css" />
</head>
<body>
    <div id='img-container'></div>
</body>   
    <script src="/js/iv.js"></script>
</html>
